.login{
    width: 33%;
    margin-top: 10%;
    margin-left: 33%;
       
}

.top-bar {
    padding-left: 0px;
    background-color: white;
}

.menu-text {
    background-color: white;
}

article {
    background-color: #dedede;
    padding: 24px;
}

 .size-24 { font-size: 24px; }